

.fas {
  color: #6e569e;
}

.far {
  color: #6e569e;
}

.smaller-numbers {
  font-size: 1.2vw;
}


@media (max-width: 1490px) {
  .Weather-App {
    margin: 10% 15% 2% 8%;
}

#link-github {
  /*text-align: center;*/

  margin: 0% 0% 0% 8%;
}
}

@media (max-width: 995px) {

  .fa-city {
    margin: 7px 0px 0px 30px;
    font-size: 4.5vw;
  }

  #location-button {
    font-size: 6vw;
  }

  #link-github {
    /*text-align: center;*/

    font-size: 2.2vw;
  }
}

@media (max-width: 556px) {
 /* For mobile phones: */
  .Weather-App {
    margin: 10% 5% 2% 5%;
}
 
  #location-button {
    font-size: 6vw;
  }

  .fa-city {
    margin: 7px 0px 0px 30px;
    font-size: 4.5vw;
  }

  #enter-city {
    font-size: 1.8vw;
  }

  #search-button {
    font-size: 1.6vw;
  }

  .city-per-continent-buttons {
    font-size: 2vw;
  }

  #city-current-info {
    margin: 5% 2% 5% 7%;
  }
  #more-detailed-info {
    margin: 5% 7% 5% 2%;
  }
  #more-detailed-info-center {
    margin: 35% 0%;
  }

  .header-main-title {
    font-size: 5vw;
  }

  #link-github {
    /*text-align: center;*/

    font-size: 2.8vw;
  }
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/